
body {
    background-color: #6f4e3732 !important;
    font-family: K2D, sans-serif ;
    font-size: 15pt;
    margin-bottom: 200px;
}

.navbar-brand {
    font-family: Impact, sans-serif !important;
    
}

.card.mb-3 {
 padding: 5%;
}

#login {
    background-color: #6f4e378b !important;
}

.navbar.navbar-expand-lg.navbar-light.bg-custom {
    background-color: #31572C !important;
}

.navbar.bg-info.fixed-bottom {
    background-color: #31572C !important;
}


.navbar-light .navbar-brand {
    color:  white;
}

.custom-btn {
    background-color: #31572c;
    border-color: #31572c;
    color: #fff;
  }
  


.custom-bg {
    background-color: #31572c;
  }

.btn-primary {
    color: #823038;                           
    font-size: 150%;
    background-color: #DEBA6F;                
    border-color: #823038;                    
    border-width: thick
}


.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
}



.navbar-light .navbar-nav .nav-link {
    color: white;
}

.material-icons {
    color:white;
    
}

#icons > .material-icons {
    color: black;
    cursor: pointer;
}



/* MapBox Designs */
.mapboxgl-popup-content > img {

    border-radius: 20px;
    align-self: center;
    justify-self: center;
    max-width: 100%;
}

#hazardImage {
    max-height: 30vh;
}

#hazardCardGroup {
    padding-bottom: 50px;
}

.form-label {
  font-size: 15pt;
}

#logout {
    background-color: #edf3ad;
    border-color: green;
    color: rgb(68, 65, 65); 
  }

  #logout:hover {
    background-color:  green;
    color: white; 
  }


  .nav-item:hover {
    color: #2c612c; 
  }

  .btn.btn-info.btn-lg.px-4.gap-3.custom-btn {
    background-color: #edf3ad;
    border-color: green;
    color: rgb(68, 65, 65); 
  }

  .btn.btn-info.btn-lg.px-4.gap-3.custom-btn:hover {
    background-color:  green;
    color: white; 
  }

  .btn.btn-primary.position-absolute.bottom-0.end-0.m-3{
    background-color: #4e8a46;
    border-color: #31572c;
    color: #fff;
  }

  .btn.btn-primary.position-absolute.bottom-0.end-1.m-3 {
    background-color: rgb(227, 7, 7);
    border-color: #cf554f;
    color: #fff;
  }

  .btn.btn-primary.position-absolute.bottom-0.end-0.m-3:hover{
    background-color: #2a3928;
    border-color: #32432f;
    color: #fff;
  }

  .btn.btn-primary.position-absolute.bottom-0.end-1.m-3:hover{
    background-color: rgb(136, 6, 6);
    border-color: #750b06;
    color: #fff;
  }

  #confirm {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
