.navbar.navbar-expand-lg.navbar-light.bg-custom {
    background-color: #132A13 !important;
}

.navbar.bg-info.fixed-bottom {
    background-color: #132A13 
}

.navbar-light .navbar-brand {
    color:  white;
}

.custom-btn {
    background-color: #31572c;
    border-color: #31572c;
    color: #fff;
  }
  


.custom-bg {
    background-color: #31572c;
  }

.btn-primary {
    color: #823038;                           
    font-size: 150%;
    background-color: #DEBA6F;                
    border-color: #823038;                    
    border-width: thick
}

body {
    background-color: white;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}